.searchPokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9; /* Helles Hintergrund für den Abschnitt */
  border-radius: 8px; /* Leicht abgerundete Ecken */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sanfter Schatten für etwas Tiefe */
}

.searchPokemon form {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 500px; /* Maximale Breite des Suchformulars */
}

.searchPokemon input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd; /* Helles Grau für die Rahmenlinie */
  border-radius: 4px; /* Abgerundete Ecken für das Eingabefeld */
  outline: none;
  background-color: #fff; /* Weißer Hintergrund für das Eingabefeld */
  transition: border-color 0.3s ease; /* Sanfte Übergänge beim Fokussieren */
}

.searchPokemon input:focus {
  border-color: grey;
}

.searchPokemon button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: lightgray;
}
